.header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.container-configure {
  background-color: #4682b4;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.container-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}
.container-playerIp {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  color: #f1f1f1;
  font-weight: bold;
}
.container-playerPort {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  font-weight: bold;
  
}

#playerIp{
  width: 100px;
  height: 20px;
  text-align: center;
}
#playerPort{
  width: 100px;
  height: 20px;
  text-align: center;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  
}
.trigger{
  border-style: solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.actions{
  border-style: solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.triggers-actions{
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  background-color: #c9c5c5;
  

}
